.form-group {
  position: relative;
}

input.form-control.counter {
  padding-right: 4.3rem;
}

input.form-control.counter.is-invalid {
  padding-right: 5.6rem !important;
}

textarea.form-control.counter {
  padding-right: 3.5rem;
  resize: none;
}

textarea.form-control.counter.is-invalid {
  padding-right: 3.5rem;
}

.text-counter, .textarea-counter {
  position: absolute;
  right: 1.7rem;
  top: 0.62rem;
}
.text-counter.error, .text-counter.ok {
  right: 3.1rem;
}

.textarea-counter.error, .textarea-counter.ok {
  top: 2.1rem;
}