root = true

[*]
charset = utf-8
indent_style = space
indent_size = 3
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true

[*.{scss,css}]
indent_size = 2

[*.{js, json}]
indent_size = 2

[src/plugins/**.js]
indent_size = 3
